# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

The data provides Math and Verbal SAT scores and well as participation rates across US states.  There appears to be one entry per state, we will assume the that entries are an average of scroes across states.  The data also contains a total of quantitative data.

##### 2. Does the data look complete? Are there any obvious issues with the observations?

There are a total of 53 rows of data - 51 state entries, with column titles and totals of each column.  There does not appear to be any duplicated data or null values in the data set. We may need ro remove the row that includes total of dataset.

##### 3. Create a data dictionary for the dataset.

State - String
Rate - String
Verbal - String
Math - String

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [1]:
import numpy as np
import scipy.stats as stats
import csv
import seaborn as sns
%matplotlib inline

In [2]:
sat_scores = []
with open('/users/danieldemoray/ga-dsi-projects/projects-weekly/project-01/assets/sat_scores.csv', 'rU') as f:
    sat_scores = [x.strip().split(',') for x in f]

##### 5. Print the data

In [3]:
print sat_scores

[['State', 'Rate', 'Verbal', 'Math'], ['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514']]

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [4]:
labels = sat_scores[0] #splice sat_scores to contain only first and store this in labels list
data = sat_scores[1:] #splice remaining data to contain values outside of labels and store in data list
data.pop() #removes last item in data list, which contained "all" variable - sum of column data, which would skew analysis 
print labels
data

['State', 'Rate', 'Verbal', 'Math']

[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551']]

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [5]:
datadict = {} #create empty dictionary
data = np.array(data) #create array from data list using numpy function

In [6]:
data = data.T #transpose data and reassign to data list
data

array([['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE',
        'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI',
        'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM',
        'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA',
        'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS'],
       ['82', '81', '79', '77', '72', '71', '71', '69', '69', '68', '67',
        '65', '65', '63', '60', '57', '56', '55', '54', '53', '53', '52',
        '51', '51', '34', '33', '31', '26', '23', '18', '17', '13', '13',
        '12', '12', '11', '11', '9', '9', '9', '8', '8', '8', '7', '6',
        '6', '5', '5', '4', '4', '4'],
       ['509', '499', '511', '495', '520', '501', '500', '511', '506',
        '510', '501', '508', '493', '491', '499', '486', '482', '526',
        '498', '527', '493', '485', '514', '498', '523', '509', '539',
        '534', '539', '527', '543', '562', '551', '576', '550', '547',
        '561', '580', '577', '559', '562', '567', '577', '564', '584',
        '562', '575', '593', '577', '592', '566'],
       ['510', '513', '515', '505', '516', '499', '499', '506', '500',
        '501', '499', '510', '499', '489', '501', '488', '474', '526',
        '499', '527', '499', '515', '510', '517', '525', '515', '542',
        '439', '539', '512', '542', '553', '542', '589', '550', '545',
        '572', '589', '580', '554', '568', '561', '577', '562', '596',
        '550', '570', '603', '582', '599', '551']],
      dtype='|S3')

In [7]:
for i in range(len(labels)): #iterate through every item in the length of the list "labels"
    datadict[labels[i]] = data[i] #set keys of data dictionary equal to items in "labels list" equal to values in data list of same index
datadict

{'Math': array(['510', '513', '515', '505', '516', '499', '499', '506', '500',
        '501', '499', '510', '499', '489', '501', '488', '474', '526',
        '499', '527', '499', '515', '510', '517', '525', '515', '542',
        '439', '539', '512', '542', '553', '542', '589', '550', '545',
        '572', '589', '580', '554', '568', '561', '577', '562', '596',
        '550', '570', '603', '582', '599', '551'],
       dtype='|S3'),
 'Rate': array(['82', '81', '79', '77', '72', '71', '71', '69', '69', '68', '67',
        '65', '65', '63', '60', '57', '56', '55', '54', '53', '53', '52',
        '51', '51', '34', '33', '31', '26', '23', '18', '17', '13', '13',
        '12', '12', '11', '11', '9', '9', '9', '8', '8', '8', '7', '6', '6',
        '5', '5', '4', '4', '4'],
       dtype='|S3'),
 'State': array(['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE',
        'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI',
        'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM',
        'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA',
        'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS'],
       dtype='|S3'),
 'Verbal': array(['509', '499', '511', '495', '520', '501', '500', '511', '506',
        '510', '501', '508', '493', '491', '499', '486', '482', '526',
        '498', '527', '493', '485', '514', '498', '523', '509', '539',
        '534', '539', '527', '543', '562', '551', '576', '550', '547',
        '561', '580', '577', '559', '562', '567', '577', '564', '584',
        '562', '575', '593', '577', '592', '566'],
       dtype='|S3')}

In [11]:
datadict['State'] #returns values of datadict dictionary key State, to provide a list of all states in data.

array(['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE',
       'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI',
       'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM',
       'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA',
       'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS'],
      dtype='|S3')

##### 8. Print the types of each column

In [5]:


#unsure what this is asking here...do we need to create an individual list for each column?
#every item in these lists are strings.
#unsure how to display type of items in lists concsicely

States
<type 'list'>

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

In [6]:
#yes. Columns Rate, Verbal and Math need to be reassigned to integer.
# Below code casts each item in these lists as integer type.
ratelist = [int(x) for x in ratelist]
verballist = [int(x) for x in verballist]
mathlist = [int(x) for x in mathlist]

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [7]:
#join exisiting lists with zip function and 'dict constructor'
#http://stackoverflow.com/questions/209840/map-two-lists-into-a-dictionary-in-python

#state --> rate
dict1 = dict(zip(statelist, ratelist))
#state --> verbal
dict2 = dict(zip(statelist, verballist))
#state --> math
dict3 = dict(zip(statelist, mathlist))

##### 11. Create a dictionary with the values for each of the numeric columns

In [26]:
# rate, list of rates; verbal, list of verbals values; math, list of math values
labels_new = labels[1:4]
ratedict = dict(statelist, ratelist)
#verbaldict = dict('Verbal', verballist)
#mathdic = dict('Math', mathlist)

TypeError: dict expected at most 1 arguments, got 2

## Step 3: Describe the data

##### 12. Print the min and max of each column

51
51
51

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.